@defer () {
  <div class="bg-white text-black h-screen flex flex-col justify-center items-center">
    <header><h1>Football Team Randomizer!</h1></header>
    <img class="w-8" src="../../assets/football_ball_svg.svg" alt="">
    <a class="bg-green-500 hover:bg-green-700 duration-500 rounded-lg p-2 mt-8 cursor-pointer" href="/randomize">Randomizar</a>
  </div>
}
@loading {
<div>
  Carregando, aguarde...
</div>
}
@placeholder {
<div>
  Carregando, aguarde...
</div>
}
@error {
  <div>
    Erro ao carregar! Tente Novamente.
  </div>
}

